{% extends 'base.html' %}

{% load static %}

{#{% block static %} <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"> {% endblock %}#}

{% block title %}
    Serije
{% endblock %}


{% block content %}
    <h2 class="naslov">Serije</h2>

    <div class="list-group list-group-flush">

{#    {% for film in filmovi %}#}
{#        <a href="{{ film.get_absolute_url }}" class="list-group-item list-group-item-action ">#}
{#            <h4>{{ film.ime }}</h4>#}
{#        </a>#}
{#    {% endfor %}#}

    {% for serija in serije %}
        <h3>{{ serija.ime }}</h3>
    {% endfor %}



    </div>
{% endblock %}